<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="banner-form padding-search">
        <h3>Connected Profiles</h3>
      </div>
      <div style="height:560px;overflow-y: scroll; border: 1px solid #e3e3e3">
        <% @message_contact_list.each do |list| %>
          <div class="well">
            <%= list&.seeker&.seeker_profile.first_name %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="jumbtrom">
        <h1 class="text-center font-weight-bold">Messages</h1>
        <div class="well" id="chatbox" style="height:500px;overflow-y: scroll">
          <% @messages.each do |message| %>
            <%= render 'messages/message', message:  message %>
          <% end %>
        </div>
        <%= form_with model: @message do |f| %>
          <div class="mb-5">
            <%= f.text_field :body,  placeholder: "Say something...", class: 'form-control', id: 'message-body' %>
            <div class="input-group-append">
              <%= f.submit "Send", class: 'btn btn-primary ' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>