<div class="banner-job">
	<div class="banner-overlay"></div>
	<div class="container text-center">
		<h1 class="title">Easiest Step Towards Your New Job</h1>
		<h3>We offer different jobs vacancy</h3>
    <% if @quote.present? %>
      <h3><%= @quote["quote"] %></h3>
      <h4>- <%= @quote["author"] %></h4>
    <% end %>
		<div class="banner-form">
      <%= form_tag(root_path, :method => "get") do %>
				<%= search_field_tag :search, params[:search], placeholder: "Search", :required => true, class: "form-control" %>
        <%= button_tag "Search", :class => 'btn btn-primary'%>
      <% end %>
		</div>
	</div>
</div>

<div class="page">
	<%= render 'shared/job_post_details' %>
</div>
